.container-about {
    padding: 2rem;
    max-width: 1200px;
    margin: 6rem auto;
    
}

.img-sr{
    margin: 1.2rem auto 2rem;
}

.img-sr img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 320px;
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}


.title-about {
    text-align: center;
    margin-bottom: 3rem;
}

.title-about h2 {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1.8rem, 4vw, 2.3rem);
    font-weight: 700;
    color: #030303;
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
    
}

.title-about h2::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background: linear-gradient(90deg, #3570f0fb, #155aeee0);
    border-radius: 2px;
    
}

.text-about {
    font-family: 'Smooch Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
    font-weight: 500;
    color: #2c2c2c;
    text-align: justify;
    text-justify: inter-word;
    max-width: 700px;
    margin: 0 auto;
    
}

.text-about p {
    margin: .9rem auto;
}

@media (max-width: 850px) {
    .container-about {
        margin: 2.5rem auto;
        padding: 1.5rem;
    }
    

    .title-about h2::after {
        width: 60px;
        height: 3px;
    }
    
    .text-about p {
        justify-content: center;
        text-align: left;
        font-size: 1.5rem;
    }
}