.container-header {
    position: relative; /* importante */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 80vh;
    margin: 4.4rem auto;
    padding: 2rem 1rem;
    overflow: hidden; /* evita que el blur se desborde */
    box-sizing: border-box;
    font-family: "Playwrite NZ Basic", cursive;
    background: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
}

.container-header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../assets/images/psicologa/ps6.jpeg");
    background-size: cover;
    background-position: center;

    filter: blur(3px); /* ← ajustá intensidad acá */
    transform: scale(1.1); /* evita bordes blancos por el blur */

    z-index: -1;
}


.container-image {
    flex-shrink: 0;
}

.container-image img {
    display: relative;
    width: clamp(180px, 40vw, 250px);
    height: clamp(180px, 40vw, 250px);
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    padding: 0 1rem;
}

.info h2 {
    font-family: 'Poppins', sans-serif;
    /* margin: .9rem  auto; */
    font-size: clamp(2rem, 6vw, 3rem);
    font-weight: 600;
    line-height: 1.2;
}



.sub-titles{
    margin: 1.2rem 0 .9rem;
}

.sub-titles h3 {
    font-size: clamp(1rem, 4vw, 1.2rem);
    letter-spacing: clamp(1px, 0.5vw, 3px);
    font-weight: 700;
    line-height: 1.4;
    
}

.sub-titles h3:last-child{
    margin: 1rem auto .2rem;
}

@media (max-width: 700px) {
    .container-header {
        flex-direction: column;
        min-height: 70vh;
        padding: 2rem 1rem;
        gap: 1.5rem;
    }
    
    .container-image img {
        margin: 0 0 0 12rem;
        width: 120px;
        height: 120px;
    }
    .info h2{
        margin-top: 1rem;
    }
    
    .info h3 {
        margin: .5rem auto;
        letter-spacing: 1.5px;
    }
}

@media (max-width: 450px) {
    .container-image img {
        margin: 0 0 2.5rem 12rem;
        width: 100px;
        height: 100px;
    }

    .info{
        padding: 3rem 0 0;
        color: rgb(255, 255, 255);
    }
    
}

