.container-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* max-width: 1200px; */
    min-height: 80vh;
    margin: 4.4rem auto;
    background-color: rgb(232, 232, 223);
}

.container-image{
    flex-shrink: 0;
}

.container-image img{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    cursor: pointer;
}

.info-text{
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* font-family: "Playwrite NZ Basic Guides", cursive; */
    font-family: "Playwrite NZ Basic", cursive;
    text-align: center; 
}

.info-text h2{
    margin: 0 0 1.5rem 0;
    font-size: 3.2rem;
    font-weight: 700;
}

.info-text h3{
    margin: 0.5rem 0; 
    font-size: 2.2rem;
    letter-spacing: 3px;
    font-weight: 700;
}
@media (max-width: 700px) {
    .container-header{
        flex-direction: column;
        text-align: center;
    }
    
    .info-text{
        text-align: center;
    }
    
    .info-text h2{
        font-size: 2rem;
    }
    
    .info-text h3{
        font-size: 1.5rem;
    }
}

