.container-navbar{
    cursor: pointer;
    z-index: 1000;
    width: 100%;
    position: fixed; 
    top: 0; 
    transition: background-color 0.3s, color 0.3s;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    transition: .3s ease-in-out;
    border-bottom: 1px solid rgba(24, 24, 24, 0.3);
}



.logo-container {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 70px;
    width: auto;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.menu.open {
    transform: translateX(0);
}


.menu a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin: 0px 1.5rem;
    padding: 4px 8px;
    letter-spacing: 2px;
    color: #030303;

}

.menu a:hover{
    transition: .4s;
    color:rgba(50, 50, 51, 0.5);
    
}

.user-container {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.user-mobile {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
}

.menu-icon span {
    height: 3px;
    width: 25px;
    background-color: #18181a;
    margin: 4px 0;
   
}

.menu-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 6px);
}

.menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.menu-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -6px);
}


/* .active {
    color:#3570f0fb;
    body.dark & {
        color:#1e5bdffb;
    }
} */

@media (max-width: 850px) {
    .navbar{
        padding: 1rem;
    }

    .navbar:hover {
        box-shadow: 0px 0px 0px; 
    }

    .logo-container img {
        height: 60px;
    }

    .menu {
        display: none;
        right: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 100%;
        background: rgba(24, 24, 24, 0.8);
        backdrop-filter: blur(6px);
        justify-content: flex-start;
        padding-top: 2rem;
    }

    .menu.open {
        display: flex;
    }

    .menu a {
        margin: 1rem auto;
        padding: 8px 0px;
        font-size: 1.6rem;
        color: #e9e7e7;
    }

    .menu a:hover{
        color: #a4a2a2;
    }


    /* Ocultar user de desktop en mobile */
    .user-container {
        display: none;
    }

    
    .user-mobile {
        display: block;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.8rem;
        margin-top: auto;
        margin-bottom: 3rem;
        color: #e9e7e7;
        
        body.dark & {
            color: #19191a;
        }
    }

    .menu-icon {
        display: flex;
    }
}