.container-navbar{
    cursor: pointer;
    z-index: 1000;
    width: 100%;
    position: fixed; 
    top: 0; 
    transition: background-color 0.3s, color 0.3s;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    transition: .3s ease-in-out;
    border-bottom: 1px solid rgba(24, 24, 24, 0.3);
}

.logo-container {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 70px;
    width: auto;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.menu.open {
    transform: translateX(0);
}

.menu a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin: 0px 1.5rem;
    padding: 4px 8px;
    letter-spacing: 2px;
    color: #030303;
}

.menu a:hover{
    transition: .4s;
    color:rgba(50, 50, 51, 0.5);
}

.menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
}

.menu-icon span {
    height: 3px;
    width: 25px;
    background-color: #18181a;
    margin: 4px 0;
}

.menu-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 6px);
}

.menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.menu-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -6px);
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 850px) {
    .navbar{
        padding: .3rem 1rem;
    }

    .navbar:hover {
        box-shadow: 0px 0px 0px; 
    }

    .logo-container img {
        height: 60px;
    }

    .menu {
        display: flex;
        right: 0;
        flex-direction: column;
        width: 90%;
        height: 100vh;
        position: fixed;
        top: 0;
        background: #ffffff;
        justify-content: flex-start;
        padding-top: 6rem;
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
        z-index: 1001;
    }

    .menu.open {
        transform: translateX(0);
    }

    .menu a {
        margin: 1.5rem auto;
        padding: 8px 0px;
        font-size: 1.3rem;
        color: #030303;
    }

    .menu a:hover{
        color: #a4a2a2;
    }

    .menu-icon {
        display: flex;
        z-index: 1002;
    }
}