.btn-volver-arriba {
    position: fixed;
    bottom: 20px;
    background-color: #000000;
    color: #faf7f7;
    border: none;
    border-radius: 2px 3px;
    margin: 0 1rem;
    padding: .3rem 1.2rem;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.3s, transform 0.3s;
}

.btn-volver-arriba:hover {
    opacity: 1;
}





