.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    max-width: 1200px;
    /* margin: 3rem auto; */
    padding: 3rem;
}

.icon-card {
    position: relative;
    aspect-ratio: 1 / 1; 
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.07);
    transition: all 0.3s ease;
    
}

.icon-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(53, 112, 240, 0.2);
}

.icon-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.icon-card h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 16px;
    background: rgba(46, 46, 46, 0.8);
    color: #fff;
    text-align: center;
    opacity: 0;
    
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 1.8;
}

.icon-card:hover h3 {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 850px) {
    .service-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1.5rem;
        padding: 1.5rem;
    }
    
    .icon-card h3 {
        opacity: 1;
        transform: translateY(0);
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .service-grid {
        grid-template-columns: 1fr;
    }
}